@media (max-width: 992px) {
    .promo {
        padding: 13px 3px 60px 0;
    
        &__header {
            font-size: 38px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
    .consultation {
        .container {
            h2 {
                font-size: 34px;
            }
        }
    }
    .catalog {
        &__content {
            padding: 0 85px;
        }
    }
    .feed {
        img {
            margin-left: 18px;
        }
    }
    .footer {
       &__info {
        width: 386px;
        height: 237px;
        left: 73%;
       }
    }
}     
@media (max-width: 768px) {
    .promo {
        padding: 13px 6px 60px 0;
        &__header {
            line-height: 18px;
            font-size: 36px;
        }
        &__subheader {
            font-size: 18px;
        }
    }
    .consultation {
        .container {
            padding: 100px 0 92px 14px;
            h2 {
                font-size: 31px;
            }
        }
    }
    .catalog {
        &__content {
            padding: 0px 56px;
        }
    }
    .footer {
        &__info {
            width: 364px;
            left: 77%;
        }
    }

}

@media (max-width: 575px) {
    .promo {
        .header {
            a {
                width: 148px;
            }
                &__logo img {
                    width: 123%;
                }
            &__official {
                font-size: 10px;
            }
            &__official span {
                font-size: 16px;
            }
            &__phone {
                font-size: 16px;
            }
       }
       &__header {
            line-height: 5px;
            font-size: 29px;
        }
        &__subheader {
            font-size: 14px;
        }
        &__icon {
            font-size: 12px;
        }
        .button_main {
            width: 290px;
            height: 46px;
            font-size: 15px;
        }
    }
    .advantages {
        &__wrapper {
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        &__item {
            max-width: 374px;
        }
    }
    @keyframes heartbit {

        50% {
            transform: scale(1.16);
        }
    }
    .consultation {
        .container {
            h2 {
                font-size: 28px;
            }
        }
        &__descr {
            font-size: 18px;
        }
    }
    .carousel {
        &__inner {
            img {
                width: 75%;
            }
        }
    }
    .catalog {
        &__tabs {
            padding-left: 12px;
            padding-right: 12px;
        }
        &__content {
            padding: 0px 140px;
        }
    }
    .feed {
        img {
            width: 130px;
            height: 130px;
        }
        &__descr {
            font-size: 13px;
        }
    }
    .footer {
        &__info {
            height: 169px;
        }
        &__addr {
            margin-bottom: 8px;
            margin-top: -45px;
            font-size: 16px;
        }
        &__phone {
            font-size: 18px;
        }
    }

}
